//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Cities Table
        a(href="/update-cobj")
            h3 Add/Update this table
        table
            thead
                tr
                    th Name
                    th Population
                    th Tourist Spot
            tbody
                each city in data
                    tr
                        td #{city.properties.name}
                        td #{city.properties.population}
                        td #{city.properties.tourist_spot}
