//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        a(href="/")
            h1 Return to the homepage

        div.form-wrapper
            h2 Create New City Record
            form(action="/update-cobj" method="POST")
                div.form-group
                    label(for="name") Name:
                    input(type="text" id="name" name="name" required)
                div.form-group
                    label(for="population") Population:
                    input(type="text" id="population" name="population" required)
                div.form-group
                    label(for="tourist_spot") Tourist Spot:
                    input(type="text" id="tourist_spot" name="tourist_spot" required)
                div.form-group
                    input(type="submit" value="Submit")
